# Ignorar archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.env

# Ignorar archivos de Android
.gradle/
.idea/
*.iml
/build/
*.apk
*.keystore

# Archivos generados por el sistema
.DS_Store
Thumbs.db
